@{
    ViewBag.Title = "Головна сторінка";
}

<div class="jumbotron">
    <h1>Курсовий проект з дисципліни "Технології розробки програмного забезпечення - 2. Технології розробки WEB-застосувань на платформі Microsoft.NET" студента 3-го курсу, групи ІС-83, Пархоменка Дмитра</h1>
</div>

